<script src="https://www.actiu.com/build/js/main.min.js?baseUrl
            =https://www.actiu.com/&amp;base_url_lang=https://www.actiu.com/en/&amp;
            div=home&amp;subdiv=&amp;openVideo=&amp;nocache=1494759723" id="js-main">
</script>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">首页</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">公司介绍
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">新闻
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">产品动态
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">天猫商城
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">联系我们
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_admin %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            管理员已登录
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to("管理员界面", admin_products_path) %> </li>
            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_admin_session_path, method: :delete) %> </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<main class="main-container ">
  <div class="hero" style="background-image: url(https://ooo.0o0.ooo/2017/05/21/5920f01d75724.png)">
    <div class="hero__background">
      <div class="hero__background__overlay"></div>
    </div>
    <div class="hero__content container-fluid clearfix va-container va-container-v va-container-h">
      <div class="va-middle">
        <a href="https://detail.tmall.com/item.htm?spm=a312a.7700824.w5003-14347173173.2.qnYJBv&id=549559248448&scene=taobao_shop" class="btn btn-rounded btn-rounded--outline-white">爱情定制酒</a>
        <a href="https://detail.tmall.com/item.htm?spm=a312a.7700824.w5003-14347173173.2.qnYJBv&id=549559248448&scene=taobao_shop" class="btn btn-rounded btn-rounded--outline-white">生日/寿宴酒</a>
        <a href="https://detail.tmall.com/item.htm?spm=a312a.7700824.w5003-14347173173.2.qnYJBv&id=549559248448&scene=taobao_shop" class="btn btn-rounded btn-rounded--outline-white">企业定制酒</a>
        <a href="https://detail.tmall.com/item.htm?spm=a312a.7700824.w5003-14347173173.2.qnYJBv&id=549559248448&scene=taobao_shop" class="btn btn-rounded btn-rounded--outline-white">个性定制酒</a>
      </div>
    </div>
  </div>
  <<div class="container-fluid">
    <div class="col-md-12 addpadding">
      <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://ongoo1pyy.bkt.clouddn.com/WeChatSight1.mp4"
            frameborder="0" allowfullscreen="true" width=300px height=300px></iframe>
        </div>
      </div>
      <div class="col-md-8 ">
        <h2>welcome</h2>
        <p>关于我们<br>
          关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
          关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
          关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
          关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们
        </p>
        <div class="pull-right">
          <%= link_to("了解更多", "#",
            method: :post, class:"btn btn-danger btn-lg") %>
        </div>
      </div>
    </div>
    <div class="bg-1 addpadding"  style="margin-bottom: 5px ; margin-top:100px">
      <div  class="container addpadding">
        <h2 class="text-center">天成私订</h2>
      </div>
      <div  class="row text-center slideanim">
        <div  class="col-sm-3">
          <div  class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/05/22/5922be53b74b2.png" alt="正品.png" title="正品.png" >
            <p><strong>项目名称</strong></p>
            <p>项目介绍项目介绍</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/05/22/5922be542047f.png" alt="真正私定.png" title="真正私定.png" />
            <p><strong>项目名称</strong></p>
            <p>项目介绍项目介绍</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div  class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/05/22/5922be54232bd.png" alt="免费.png" title="免费.png" />
            <p><strong>项目名称</strong></p>
            <p>项目介绍项目介绍</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div  class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/05/22/5922be54ee7e2.png" alt="服务.png" title="服务.png" />
            <p><strong>项目名称</strong></p>
            <p>项目介绍项目介绍</p>
          </div>
        </div>
      </div>
    </div>
    <div role="main-home-wrapper" class="container">
      <div class="row">
        <h2 class="text-center addpadding"><span>大德天成</span></h2>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
          <article role="pge-title-content">
            <header>
              <h3>成功案例</h3>
            </header>
            <p>成功项目牛逼牛逼，成功项目牛逼牛逼，成功项目牛逼牛逼，</p>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="assets/image-1.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="assets/image-2.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-3.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-4.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="assets/image-4.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-5.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-3.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <figure class="effect-oscar">
            <img src="assets/image-2.jpg" alt="" class="img-responsive"/>
            <figcaption>
              <h2>成功项目<span> 吧啦吧啦</span></h2>
              <p>牛逼牛逼，吧啦吧啦.</p>
              <a href="/">View more</a>
            </figcaption>
          </figure>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="products-highlights">
        <div class="container">
          <h2 class="title"><strong>推荐产品</strong></h2>
          <div class="tabs-rounded js-tabs hidden-xs">
            <div class="tabs-rounded__clearfix clearfix"></div>
          </div>
        </div>
        <div class="carousel-products-wrap js-carousel-products home_product_destacados_actiu">
          <span class="carousel-products-nav-prev hidden js-carousel-products-nav-prev"><svg class="icon-svg " width="29" height="75" viewBox="0 0 29 75" xmlns="http://www.w3.org/2000/svg"><path d="M27.284 2L3 38.284l23.254 34.744" stroke-width="4" fill="none" fill-rule="evenodd"/></svg></span>
          <span class="carousel-products-nav-next hidden js-carousel-products-nav-next"><svg class="icon-svg " width="29" height="75" viewBox="0 0 29 75" xmlns="http://www.w3.org/2000/svg"><path d="M1.716 73.028L26 36.745 2.746 2" stroke-width="4" fill="none" fill-rule="evenodd"/></svg></span>
          <div class="carousel-products js-owl-carousel">
            <article class="carousel-products-item js-carousel-products-item">
              <a href="https://www.actiu.com/en/furniture/soft-seating/badminton">
                <div class="carousel-products-item__photo-wrap">
                  <img class="carousel-products-item__photo" src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" width="300" height="350" alt="Badminton">
                </div>
                <div class="carousel-products-item__info text-center">
                  <h3 class="carousel-products-item__title">Badminton</h3>
                  <p class="carousel-products-item__desc">iconic soft seating</p>
                </div>
                <div class="carousel-products-item__details text-center">
                  <span class="carousel-products-item__category" onclick="javascript:void(0)" data-url="https://www.actiu.com/en/furniture/soft-seating"><span class="carousel-products-item__category__overflow">Soft seating</span></span>
                  <span class="carousel-products-item__stats">
                  </span>
                </div>
              </a>
            </article>
            <article class="carousel-products-item js-carousel-products-item">
              <a href="https://www.actiu.com/en/furniture/office-chairs/tnk-500">
                <div class="carousel-products-item__photo-wrap">
                  <img class="carousel-products-item__photo" src="https://ooo.0o0.ooo/2017/05/23/5923c7dec28ae.png" width="300" height="350" alt="Tnk 500">
                </div>
                <div class="carousel-products-item__info text-center">
                  <h3 class="carousel-products-item__title">Tnk 500</h3>
                  <p class="carousel-products-item__desc">seductive character</p>
                </div>
                <div class="carousel-products-item__details text-center">
                  <span class="carousel-products-item__category" onclick="javascript:void(0)" data-url="https://www.actiu.com/en/furniture/office-chairs"><span class="carousel-products-item__category__overflow">Office chairs</span></span>
                  <span class="carousel-products-item__stats">
                  </span>
                </div>
              </a>
            </article>
            <article class="carousel-products-item js-carousel-products-item">
              <a href="https://www.actiu.com/en/furniture/soft-seating/longo">
                <div class="carousel-products-item__photo-wrap">
                  <img class="carousel-products-item__photo" src="https://ooo.0o0.ooo/2017/05/23/5923c7deebb71.png" width="300" height="350" alt="Longo">
                </div>
                <div class="carousel-products-item__info text-center">
                  <h3 class="carousel-products-item__title">Longo</h3>
                  <p class="carousel-products-item__desc">maximum versatility</p>
                </div>
                <div class="carousel-products-item__details text-center">
                  <span class="carousel-products-item__category" onclick="javascript:void(0)" data-url="https://www.actiu.com/en/furniture/soft-seating"><span class="carousel-products-item__category__overflow">Soft seating</span></span>
                  <span class="carousel-products-item__stats">
                  </span>
                </div>
              </a>
            </article>
            <article class="carousel-products-item js-carousel-products-item">
              <a href="https://www.actiu.com/en/furniture/desk-systems/prisma">
                <div class="carousel-products-item__photo-wrap">
                  <img class="carousel-products-item__photo" src="https://ooo.0o0.ooo/2017/05/23/5923c7df34add.png" width="300" height="350" alt="Prisma">
                </div>
                <div class="carousel-products-item__info text-center">
                  <h3 class="carousel-products-item__title">Prisma</h3>
                  <p class="carousel-products-item__desc">elegance and minimalism</p>
                </div>
                <div class="carousel-products-item__details text-center">
                  <span class="carousel-products-item__category" onclick="javascript:void(0)" data-url="https://www.actiu.com/en/furniture/desk-systems"><span class="carousel-products-item__category__overflow">Desk systems</span></span>
                  <span class="carousel-products-item__stats">
                  </span>
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
      <div class="customservice">
        <h1 align="middle">定制服务</h1>
        <div id="fivestep">
          <h1 align="middle">5step 轻松定制</h1>
          <div class="container">
            <div class="row">
              <div class="col-md-12 step5"><img src="https://ooo.0o0.ooo/2017/05/23/5923c342188ad.png" alt="步骤.png" title="步骤.png" /></div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <h3 align="middle">定制</h3>
            <h3 align="middle">随心所欲</h3>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b35399d.png" alt="定制服务1.png" title="定制服务1.png" /></div>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b413afe.png" alt="定制服务2.png" title="定制服务2.png" /></div>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b4263b3.png" alt="定制服务3.png" title="定制服务3.png" /></div>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b4263b3.png" alt="定制服务3.png" title="定制服务3.png" /></div>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b4276b3.png" alt="定制服务4.png" title="定制服务4.png" /></div>
            <div class="col-md-4"><img src="https://ooo.0o0.ooo/2017/05/22/5922f6b35399d.png" alt="定制服务1.png" title="定制服务1.png" /></div>
          </div>
        </div>
        <br/>
        <br/>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 align="middle">天成动态</h3>
              <p align="middle">白云边定制酒</p>
              <p align="middle">婚礼</p>
              <p align="middle">生日</p>
              <p align="middle">聚会</p>
            </div>
            <div class="col-md-4">
              <h3 align="middle">行业动态</h3>
              <p align="middle">关于大德天成</p>
              <p align="middle">环境革新</p>
              <p align="middle">人才招聘</p>
              <p align="middle">服务于售后</p>
              <p align="middle">走进大德天成酒业公司</p>
            </div>
            <div>
              <div class="col-md-4">
                <h3 align="middle">最新活动</h3>
                <p align="middle">关于大德天成</p>
                <p align="middle">环境革新</p>
                <p align="middle">人才招聘</p>
                <p align="middle">服务于售后</p>
                <p align="middle">走进大德天成酒业公司</p>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br/>
      </div>
    </div>
  </main>
  
  <footer class="contact_side">
    <div class="contact">
      <h4 class="index_h4"><span>联系我们</span></h4>
      <div class="contact_div">
        <div class="contact_left">
          <h2><img src="/images/contact_logo.png" alt="武汉大德天成商贸有限公司" title="武汉大德天成商贸有限公司" /></h2>
          <ul>
            <li class="fwrx">服务热线：027-87766622</li>
            <li>TEL：13871063897</li>
            <li>FAX：027-876565422</li>
            <li>QQ：395423039</li>
            <li>E-MAIL：395423039@qq.com</li>
            <li>主营：白酒定制</li>
            <li>地址：武汉市江汉区中央商务区泛海国际SOHO城8栋23层</li>
          </ul>
        </div>
        <div class="contact_right">
          <h3><span>在线留言</span></h3>
          <%= simple_form_for [@comment] do |f| %>
            <div class="group">
              <label>姓名：</label><%= f.input :name, label: false %>
            </div>
            <div class="group">
              <label>联系方式：</label><%= f.input :tel, label: false %>
            </div>
            <div class="group">
              <label>邮箱地址：</label><%= f.input :email, label: false %>
            </div>
            <div class="group">
              <label>留言内容：</label><%= f.input :description, label: false %>
            </div>
            <%= f.submit "发送", data: { disable_with: "Submitting..." } %>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
