<div class="container">
  <div class="row">
    <div class="col-md-3">子栏目分类</div>
    <div class="col-md-3">子栏目分类</div>
    <div class="col-md-3">子栏目分类</div>
    <div class="col-md-3">子栏目分类</div>

  </div>
</div>
<br/>
<br/>
<br/>

<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>
        <%= @product.price %>￥
      </p>
      <br/>
      <br/>
      <br/>
      <a class="btn btn-default">立即购买
      </a>
      <a class="btn btn-default">点赞/喜欢
      </a>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" id="sidebar-width">最喜爱设计排行榜</div>


    <div class="col-md-9"><img src="https://ooo.0o0.ooo/2017/05/24/592552f19f09b.png" alt="步骤.png" title="步骤.png" /></div>
  </div>
</div>
<li><img src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" alt="产品1.png" title="产品1.png" /></li>
<li><img src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" alt="产品1.png" title="产品1.png" /></li>
<li><img src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" alt="产品1.png" title="产品1.png" /></li>
<li><img src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" alt="产品1.png" title="产品1.png" /></li>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-3"><img src="https://ooo.0o0.ooo/2017/05/23/5923c7de6c015.png" alt="产品1.png" title="产品1.png" /></div>
    <div class="col-md-9">产品描述</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"><img src="https://ooo.0o0.ooo/2017/05/23/5923c7dec28ae.png" alt="产品2.png" title="产品2.png" /></div>

    <div class="col-md-9">产品描述</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"><img src="https://ooo.0o0.ooo/2017/05/23/5923c7deebb71.png" alt="产品3.png" title="产品3.png" /></div>
    <div class="col-md-9">产品描述</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"><img src="https://ooo.0o0.ooo/2017/05/23/5923c7df34add.png" alt="产品4.png" title="产品4.png" /></div>
    <div class="col-md-9">产品描述</div>
  </div>
</div> -->
