<!DOCTYPE html>
<html>
  <head>
    <title>Dadewebsite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="assets/welcome">

  </head>
  <body>
      <%= render "common/flashes" %>
      <%= yield %>
  </body>

  <div id="usr_rmenu" class="usr-rmenu">
      <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=57096821&amp;site=qq&amp;menu=yes"
       target="_blank" class="btn btn-qq"></a>
      <div class="btn btn-top" style="display: block;"></div>
  </div>

</html>
